//- page navigation include
mixin pageList(pages, current)
    h1 Pages
    ul.icons-ul
        each page in pages
            li
                if current != page.id
                    a(href=page.url)
                        i.icon-li(class="icon-"+page.icon)
                        =page.title
                else if current != "index"
                    i.icon-li(class="icon-"+page.icon)
                    =page.title
