//- page navigation include
mixin pageList(pages, current)
    h1 Pages
    ul.icons-ul
        each page in pages
            if current != page.id
                li: a(href=page.url)
                    i.icon-li(class="icon-"+page.icon)
                    =page.title
            else if current != "index"
                li: i.icon-li(class="icon-"+page.icon)
                =page.title
