//- Social links include
h1 Links
ul.icons-ul
    li: a(href="http://www.gplus.to/cjohns")
        i.icon-li.icon-google-plus
        | Google+
    li: a(href="http://www.facebook.com/cjohns")
        i.icon-li.icon-facebook
        | Facebook
    li: a(href="http://www.twitter.com/stackptr")
        i.icon-li.icon-twitter
        | Twitter
    li: a(href="http://www.github.com/stackptr")
        i.icon-li.icon-github
        | Github
    li: a(href="http://www.last.fm/user/bonekhan")
        i.icon-li.icon-headphones
        | Last.fm
    li: a.accordion-toggle(href="#social-more", data-toggle="collapse", data-target="#social-more")
        i.icon-li.icon-chevron-down
        | More
        ul#social-more.icons-ul.collapse
            li: a(href="http://www.reddit.com/user/binary")
                i.icon-li.icon-group
                | Reddit
            li: a(href="http://www.quora.com/Corey-Johns")
                i.icon-li.icon-group
                | Quora
            li: a(href="http://www.rateyourmusic.com/~8bits")
                i.icon-li.icon-headphones
                | RYM
            li: a(href="http://pinboard.in/u:mu")
                i.icon-li.icon-pushpin
                | Pinboard
            li: a(href="http://www.chess.com/members/view/8bits")
                i.icon-li.icon-puzzle-piece
                | Chess
            li: a(href="http://steamcommunity.com/id/byte_")
                i.icon-li.icon-gamepad
                | Steam
