extends layouts/page

block pageTitle
    pageTitle = "propaganda"

block content
    h1 Propaganda
    dl
        dt Linux
        dd: a(href="https://www.archlinux.org") Arch Linux
        dd: a(href="http://www.gentoo.org") Gentoo Linux
        dt Languages
        dd: a(href="http://nodejs.org/") Node.js
        dd: a(href="http://www.rust-lang.org/") Rust
        dd: a(href="http://golang.org/") Go
        dt Web technologies
        dd: a(href="http://jade-lang.com/") Jade template engine
        dd: a(href="http://twitter.github.io/bootstrap/") Bootstrap framework
        dd: a(href="http://jquery.com/") jQuery
        dd: a(href="http://lesscss.org/") LESS
