extends layouts/page

block pageTitle
    pageTitle = "propaganda"

block content
    h1 Propaganda
    dl
        dt Organizations
        dd: a(href="http://www.fsf.org/") Free Software Foundation
        dd: a(href="https://www.eff.org/") Electronic Frontier Foundation
        dd: a(href="http://wikimediafoundation.org/") Wikimedia Foundation
        dd: a(href="http://wikileaks.org/") Wikileaks
        dt Linux
        dd: a(href="https://www.archlinux.org") Arch Linux
        dd: a(href="http://www.gentoo.org") Gentoo Linux
        dd: a(href="http://git-scm.com/") Git
        dt Languages
        dd: a(href="http://nodejs.org/") Node.js
        dd: a(href="http://www.rust-lang.org/") Rust
        dd: a(href="http://golang.org/") Go
        dt Web technologies
        dd: a(href="http://jade-lang.com/") Jade template engine
        dd: a(href="http://twitter.github.io/bootstrap/") Bootstrap framework
        dd: a(href="http://jquery.com/") jQuery
        dd: a(href="http://lesscss.org/") LESS