extends layouts/page

block pageTitle
    pageTitle = "stats"

block content
    h1 Server statistics
    dl
        dt Kernel
        dt Uptime
        dt Load
        dt Memory
        dt Disk
        dt Net
