extends layouts/page

block pageTitle
    pageTitle = "hardware"

block content
    h1 Hardware
    dl
        dt Motherboard
        dd ASUS P8Z7-V LK
        dt Processor
        dd Intel Core i5-3570K
        dt Memory
        dd Corsair Vengeance 8GB DDR3 1600
        dt Graphics
        dd HIS IceQ Radeon HD 7870 GHz 2GB
        dt Power
        dd Corsair HX650 650W
        dt Enclosure
        dd Corsair Obsidian Series 650D
        dt Storage
        dd Intel 320 Series 80GB
        dd WD Caviar Black 1TB
        dd WD Caviar Green 2TB
        dt Input
        dd Logitech G500
        dd Apple Keyboard
        dt Display
        dd Dell Ultrasharp U2713HM-IPS 27"
