extends layouts/page

block pageTitle
    pageTitle = "hosted"

block content
    h1 Hosted files
    ul
        li
            a(href="public/facebookneue.crx") Facebook Neue
            |  - Chrome extension by 
            a(href="http://twitter.com/goobimama") Milind Alvares
        li
            a(href="public/invaders.sh") Space invaders color test
