extends layouts/page

block pageTitle
    pageTitle = "stats"

append scripts-pre
    script(src='js/raphael.2.1.0.min.js')
    script(src='js/justgage.1.0.1.min.js')

block content
    h1 Server statistics
    #disk-gauge(style="width:100px; height:80px").pull-right.row
    #memory-gauge(style="width:100px; height:80px").pull-right.row
    dl
        dt Kernel
        dd
        dt Uptime
        dd
        dt Load
        dd
        dt Memory
        dd
        dt Disk
        dd
        dt Net
        dd
append scripts-post
    script(src='js/stats.js')
