extends layouts/page

block pageTitle
    pageTitle = "stats"

block content
    h1 Server statistics
    dl
        dt Kernel
        dd
        dt Uptime
        dd
        dt Load
        dd
        dt Memory
        dd
        dt Disk
        dd
        dt Net
        dd
append scripts-post
    script(src='js/stats.js')
